apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: kafka-namespace
spec:
  type: NodePort
  selector:
    app: kafka-ui
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
