apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  namespace: postgres-namespace
  labels:
    app: pgadmin
spec:
  selector:
    app: pgadmin
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30090
  type: NodePort
